$main-color: #007bff;
$black: black;
$white: white;
$green: #0a8;
$red: #e83e8c;

#root {
  max-width: 1280px;
  margin: 0 auto;
}

.tasks-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

}

.task {
  width: calc(100% / 4);
  padding: 10px;
  box-sizing: border-box;

  &__title {
    background-color: $main-color;
    color: $white;
    padding: 10px;
  }

  &__title-edit {
    width: 100%;
    margin-top: 10px;
  }

  &__description {
    border: 1px solid $main-color;
    padding: 10px;
  }

  &__description-edit {
    width: 100%;
    height: 200px;
  }

  &__delete, &__edit {
    float: right;
    color: $red;
    font-size: 30px;
    line-height: 25px;
    cursor: pointer;
    background: none;
    border: 0;
  }

  &__edit {
    font-size: 15px;
    line-height: 25px;
  }

  &__edit-submit, &__edit-cancel {
    width: 50%;
    border: 0;
    color: white;
  }

  &__edit-submit {
    background: $green;
  }

  &__edit-cancel {
    background: $red;
  }
}

.task-create-form {
  max-width: 500px;
  margin: 0 auto;

  &__title {
    width: 100%;
  }

  &__description {
    width: 100%;
    margin-top: 10px;
  }

  &__button {
    width: 100%;
    border: none;
    background-color: $main-color;
    color: $white;
  }
}
